TG_BOT_TOKEN_FOR_ARTICLES=8515790321:AAEjYuNknCHYINQRb7DSd-3goyZ73J1MxOc
TG_CHAT_ID_FOR_ARTICLES=-1003844335098

TG_BOT_TOKEN_FOR_LOGS=5641151459:AAFCAP3OzNgLQ99bJ-2IlHekWPHPJi-eDNc
TG_CHAT_ID_FOR_LOGS=-1001524739037

PARSER_INTERVAL_MINUTES=10
SENDER_INTERVAL_MINUTES=3

APP_ENV=production
PORT=5000

# Гибридный режим
USE_DB_FOR_RESOURCES=true      # false = из resources.json
USE_DB_FOR_ARTICLES=true       # false = из last_results.json

# Подключение к MySQL (Cityhost)
DB_CONNECTION=mysql
DB_HOST=venza.cityhost.com.ua
DB_PORT=3306
DB_DATABASE=ch65d751c9_fruntend
DB_USERNAME=ch65d751c9_fruntend
DB_PASSWORD=GawqFnPyzn
