flask==3.0.3
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.3.0
pandas==2.2.3
apscheduler==3.10.4
python-telegram-bot==21.6
hypercorn
fake-useragent  # Для randomization UA
playwright  # Для браузерного scraping
